


/* CSS */

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
}

.button-3 {
    
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /* display: inline-block; */
    font-family:Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    
    vertical-align: middle;
    white-space: nowrap;
    float:right;
    margin-right:10vw;
  }
  
  
  .button-2 {
    
    background-color: #a42e67;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /* display: inline-block; */
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    
    vertical-align: middle;
    white-space: nowrap;
    float:right;
    margin-right:15vw;
  }
  
  
  h1{

    font-family: Arial, Helvetica, sans-serif;
    font-size:3vw;
    margin-left:10vw;
  }
  hr{
    width:80%;
    border: 1px solid;
    margin-top:-2vw;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
   
    padding: 10px;
  }

 .grid-item {
    /* background-color: rgba(94, 37, 37, 0.8); */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width:20vw;
    height:12vw;
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    
  }
  .grid-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .grid-item h2 {
    font-size: 1.2em;
    margin: 0 0 10px;
    color: #333;
  }

  .grid-item p {
    font-size: 1em;
    margin: 0 0 5px;
    color: #666;
  }

 #product_form {
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: left;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 auto;
    border: solid 4px black;
    border-bottom: none;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
    /* display: block; */
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    width: 23vw;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  select {
    height:30px;
    width:200px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #app {
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: left;
    box-sizing: border-box;
    border-radius: 0px 0px 10px;
    margin: 0 auto;
    border: solid 4px black;
    border-top: solid 2px rgba(0, 0, 0, 0.345);
  
  }
